@page
@model Site.Pages.Personalizations.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Personalization</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personalization.NumePersonalizare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personalization.NumePersonalizare)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Personalization.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
